name: Deploy

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    env:
      OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
      DISCORD_TOKEN: ${{ secrets.DISCORD_TOKEN }}

    steps:
      - uses: actions/checkout@v4

      - name: Run app
        run: python PythonProject/main.py
